.profile_box{
  width: 78%;
  padding: 1rem;
  display: grid;
  grid-template-rows: 15% 85%;
}
.form_box{
  display: grid;
  grid-template-columns: repeat(2, 30%);
  gap: 3%
}
.input_box{
  width: 100%;
  height: 9%;
}
.input_box span{
  padding-left: 1rem;
}
.input_box input{
  background-color: var(--bg_input);
  width: 65%;
  height: 1.3rem;
  border-radius: 0.4rem;
  border-color: transparent;
}